body{
  padding-top: 50px;
  font-size: 16px;
  color: #696969;
  background-color: #FFF;
  font-family: 'Arial', sans-serif;
}

#header-nav { 
  border-radius:0;
  border: 0;
}

#nav-list{
  margin-top: 5px;
}

#nav-list a{
  color: #808080;
  text-align: center;
  font-size: 1.4em;
}

#nav-list a:hover{
  background: #E8E8E8;
}

#header{
  margin-bottom: 50px;
}

.conteudo{
  background-color: #FFF;
  color: #696969;
  padding: 10px 20px 25px 20px;
  margin-bottom: 30px;
  margin-top: 0px;
}

.navbar-header a{
  font-size: 1.8em;
}

.container h2{
  margin-bottom: -25px;
}


